apiVersion: v1
kind: Service
metadata:
  name: traffic-light-cache-db
  namespace: uniwa-stls
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: traffic-light-cache-db
