apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traffic-light-cache-db-pvc
  namespace: uniwa-stls
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi
  storageClassName: standard
