apiVersion: v1
kind: ConfigMap
metadata:
  name: detectionapi-config
  namespace: uniwa-stls
data:
  # ===============================
  # ASP.NET Core
  # ===============================
  ASPNETCORE_ENVIRONMENT: "Development"

  # ===============================
  # MongoDB
  # ===============================
  Mongo__Database: "DetectionDB"
  Mongo__Collections__VehicleCount: "vehicle_count"
  Mongo__Collections__PedestrianCount: "pedestrian_count"
  Mongo__Collections__CyclistCount: "cyclist_count"
  Mongo__Collections__Emergency: "emergency_vehicle"
  Mongo__Collections__PublicTransport: "public_transport"
  Mongo__Collections__Incident: "incident"

  # ===============================
  # Redis
  # ===============================
  Redis__Host: "detectioncachedb"
  Redis__Port: "6379"
  Redis__Database: "0"
  Redis__KeyPrefix__VehicleCount: "sensor.count.{intersection}.vehicle"
  Redis__KeyPrefix__PedestrianCount: "sensor.count.{intersection}.pedestrian"
  Redis__KeyPrefix__CyclistCount: "sensor.count.{intersection}.cyclist"
  Redis__KeyPrefix__EmergencyDetected: "sensor.detection.{intersection}.emergency"
  Redis__KeyPrefix__PublicTransportDetected: "sensor.detection.{intersection}.public_transport"
  Redis__KeyPrefix__IncidentDetected: "sensor.detection.{intersection}.incident"

  # ===============================
  # CORS
  # ===============================
  Cors__AllowedOrigins: "http://localhost:5173"
  Cors__AllowedMethods: "GET,POST,PUT,PATCH,DELETE"
  Cors__AllowedHeaders: "Content-Type,Authorization"

  # ===============================
  # JWT 
  # ===============================
  Jwt__Issuer: "http://stls_backend:8080"
  Jwt__Audience: "http://stls_backend:8080"

  # ===============================
  # RabbitMQ 
  # ===============================
  RabbitMQ__Host: "rabbitmq"
  RabbitMQ__Port: "5672"
  RabbitMQ__Exchanges__Sensor: "SENSOR.EXCHANGE"
  RabbitMQ__Exchanges__Log: "LOG.EXCHANGE"
  RabbitMQ__RoutingKeys__Sensor__EmergencyVehicle: "sensor.detection.{intersection}.emergency"
  RabbitMQ__RoutingKeys__Sensor__PublicTransport: "sensor.detection.{intersection}.public_transport"
  RabbitMQ__RoutingKeys__Sensor__IncidentDetected: "sensor.detection.{intersection}.incident"
  RabbitMQ__RoutingKeys__Log__Audit: "log.sensor.detection_service.{intersection}.audit"
  RabbitMQ__RoutingKeys__Log__Error: "log.sensor.detection_service.{intersection}.error"
