apiVersion: v1
kind: Service
metadata:
  name: detection-cache-db-svc
  namespace: uniwa-stls
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: detection-cache-db
