apiVersion: v1

kind: PersistentVolumeClaim

metadata:
  name: detection-cache-db-pvc
  namespace: uniwa-stls

spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi
  storageClassName: standard
