apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: user-db-state
  namespace: uniwa-stls
spec:
  serviceName: user-db
  replicas: 1
  selector:
    matchLabels:
      app: user-db
  template:
    metadata:
      labels:
        app: user-db
    spec:
      containers:
        - name: mssql
          image: ath21/stls-databases:user-mssql
          ports:
            - containerPort: 1433
              name: mssql
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_PID
              value: "Express"
            - name: MSSQL_SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user-db-secret
                  key: MSSQL_SA_PASSWORD
          volumeMounts:
            - name: user-db-data
              mountPath: /var/opt/mssql
          livenessProbe:
            exec:
              command:
                - /opt/mssql-tools/bin/sqlcmd
                - "-S"
                - "localhost"
                - "-U"
                - "sa"
                - "-P"
                - "MyPass@word"
                - "-Q"
                - "SELECT 1"
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            exec:
              command:
                - /opt/mssql-tools/bin/sqlcmd
                - "-S"
                - "localhost"
                - "-U"
                - "sa"
                - "-P"
                - "MyPass@word"
                - "-Q"
                - "SELECT 1"
            initialDelaySeconds: 15
            periodSeconds: 10
      restartPolicy: Always
  volumeClaimTemplates:
    - metadata:
        name: user-db-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 2Gi
        storageClassName: standard
