apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: notification-db-pvc
  namespace: uniwa-stls
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
