services:
  sensor_api:
    ports:
      - '5070:8080'
    environment:
      # ===============================
      # ASP.NET Core
      # ===============================
      ASPNETCORE_ENVIRONMENT: Development

      # ===============================
      # Databases
      # ===============================

      ## DetectionDB (MongoDB - Time Series)
      Mongo__ConnectionString: mongodb://mongo:mongo123@detection_db:27017
      Mongo__Database: DetectionDB
      Mongo__Collections__VehicleCount: vehicle_count
      Mongo__Collections__PedestrianCount: pedestrian_count
      Mongo__Collections__CyclistCount: cyclist_count
      Mongo__Collections__Emergency: emergency_vehicle
      Mongo__Collections__PublicTransport: public_transport
      Mongo__Collections__Incident: incident

      ## DetectionCacheDB (Redis - Real Time)
      Redis__Host: detection_cache_db
      Redis__Port: 6379
      Redis__Password: ""
      Redis__Database: 0
      Redis__KeyPrefix__VehicleCount: sensor.count.{intersection}.vehicle
      Redis__KeyPrefix__PedestrianCount: sensor.count.{intersection}.pedestrian
      Redis__KeyPrefix__CyclistCount: sensor.count.{intersection}.cyclist
      Redis__KeyPrefix__EmergencyDetected: sensor.detection.{intersection}.emergency
      Redis__KeyPrefix__PublicTransportDetected: sensor.detection.{intersection}.public_transport
      Redis__KeyPrefix__IncidentDetected: sensor.detection.{intersection}.incident

      # ===============================
      # CORS Policy
      # ===============================
      Cors__AllowedOrigins: http://localhost:5173
      Cors__AllowedMethods: GET,POST,PUT,PATCH,DELETE
      Cors__AllowedHeaders: Content-Type,Authorization

      # ===============================
      # JWT Authentication
      # ===============================
      Jwt__Issuer: http://stls_backend:8080
      Jwt__Audience: http://stls_backend:8080
      Jwt__Key: Nn7kLa8Rzv1XHt9UwMqP4YbFdJxVt2Km

      # ===============================
      # RabbitMQ Connection
      # ===============================
      RabbitMQ__Host: rabbitmq
      RabbitMQ__Port: 5672
      RabbitMQ__Username: rabbitmq
      RabbitMQ__Password: rabbitmq123

      # ===============================
      # RabbitMQ Exchanges
      # ===============================

      ## SENSOR.EXCHANGE
      RabbitMQ__Exchanges__Sensor: SENSOR.EXCHANGE
      # --- Publish
      RabbitMQ__RoutingKeys__Sensor__VehicleCount: sensor.count.{intersection}.vehicle
      RabbitMQ__RoutingKeys__Sensor__PedestrianCount: sensor.count.{intersection}.pedestrian
      RabbitMQ__RoutingKeys__Sensor__CyclistCount: sensor.count.{intersection}.cyclist

      ## LOG.EXCHANGE
      RabbitMQ__Exchanges__Log: LOG.EXCHANGE
      # --- Publish
      RabbitMQ__RoutingKeys__Log__Audit: log.sensor.sensor_service.{intersection}.audit
      RabbitMQ__RoutingKeys__Log__Error: log.sensor.sensor_service.{intersection}.error

    depends_on:
      detection_db:
        condition: service_started

    restart: always
