apiVersion: v1
kind: Service
metadata:
  name: traffic-light-coordinator
  namespace: uniwa-stls
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: traffic-light-coordinator
