apiVersion: v1
kind: ConfigMap
metadata:
  name: user-api-config
  namespace: uniwa-stls
data:
  # ASP.NET Core
  ASPNETCORE_ENVIRONMENT: Development
  ASPNETCORE_URLS: http://+:8080
  SERVICE_LAYER: User
  SERVICE_LEVEL: Cloud
  SERVICE_NAME: User

  # CORS
  Cors__AllowedOrigins: http://localhost:5173,https://uniwa-stls.local
  Cors__AllowedMethods: GET,POST,PUT,PATCH,DELETE,OPTIONS
  Cors__AllowedHeaders: Content-Type,Authorization

  # JWT
  Jwt__Issuer: http://uniwa-stls-backend:8080
  Jwt__Audience: http://uniwa-stls-backend:8080

  # Databases
  ## UserDB

  # Message Broker
  ## Configuration
  RabbitMQ__Host: rabbitmq
  RabbitMQ__VirtualHost: /
  RabbitMQ__Port: "5672"

  ## Exchanges
  RabbitMQ__Exchanges__User: USER.EXCHANGE
  RabbitMQ__Exchanges__Log: LOG.EXCHANGE

  ## Routing Keys
  ### Publish
  RabbitMQ__RoutingKeys__User__NotificationRequests: user.notification.request
  RabbitMQ__RoutingKeys__Log__User: log.{layer}.{service}.{type}