version: "3.9"
services:
  detectionapi-dytiki-pyli:
    image: ath21/stls:detection_api
    container_name: detectionapi-dytiki-pyli
    ports:
      - "5123:8080"
    env_file:
      - ./secret.env
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      INTERSECTION_ID: ${INTERSECTION_DYTIKI_PYLI_ID}
      INTERSECTION_NAME: "Dytiki Pyli"

      Mongo__ConnectionString: mongodb://${MONGO_ROOT_USERNAME}:${MONGO_ROOT_PASSWORD}@detectiondb:27017
      Mongo__Database: DetectionDB
      Mongo__Collections__Emergency: emergency_vehicle
      Mongo__Collections__PublicTransport: public_transport
      Mongo__Collections__Incident: incident

      Redis__Host: detection_cache_db
      Redis__Port: 6379
      Redis__Database: 0

      Jwt__Issuer: http://stls_backend:8080
      Jwt__Audience: http://stls_backend:8080
      Jwt__Key: ${JWT_KEY}

      RabbitMQ__Host: rabbitmq
      RabbitMQ__Port: 5672
      RabbitMQ__Username: ${RABBITMQ_USERNAME}
      RabbitMQ__Password: ${RABBITMQ_PASSWORD}

      RabbitMQ__Exchanges__Sensor: SENSOR.EXCHANGE
      RabbitMQ__RoutingKeys__Sensor__EmergencyVehicle: sensor.detection.{intersection}.emergency
      RabbitMQ__RoutingKeys__Sensor__PublicTransport: sensor.detection.{intersection}.public_transport
      RabbitMQ__RoutingKeys__Sensor__IncidentDetected: sensor.detection.{intersection}.incident

      RabbitMQ__Exchanges__Log: LOG.EXCHANGE
      RabbitMQ__RoutingKeys__Log__Audit: log.sensor.detection_service.{intersection}.audit
      RabbitMQ__RoutingKeys__Log__Error: log.sensor.detection_service.{intersection}.error

    networks:
      - detection_network
      - detection_cache_network
      - rabbitmq_network

networks:
  detection_network:
    external: true
  detection_cache_network:
    external: true
  rabbitmq_network:
    external: true
