apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-api-config
  namespace: uniwa-stls
data:
  # ASP.NET Core
  ASPNETCORE_ENVIRONMENT: Development
  ASPNETCORE_URLS: http://+:8080
  SERVICE_LAYER: User
  SERVICE_LEVEL: Cloud
  SERVICE_NAME: Notification

  # CORS
  Cors__AllowedOrigins: http://localhost:5173,https://uniwa-stls.local
  Cors__AllowedMethods: GET,POST,PUT,PATCH,DELETE,OPTIONS
  Cors__AllowedHeaders: Content-Type,Authorization

  # JWT
  Jwt__Issuer: http://uniwa-stls-backend:8080
  Jwt__Audience: http://uniwa-stls-backend:8080

  # Email (SMTP)  
  Email__SmtpServer: smtp.gmail.com
  Email__Port: "587"
  Email__SenderName: UNIWA STLS
  Email__SenderEmail: ice19390005@gmail.com

  # Databases
  ## NotificationDB
  Mongo__Database: "NotificationDB"
  Mongo__NotificationsCollection: "notifications"
  Mongo__DeliveryLogsCollection: "delivery_logs"

  # Message Broker
  ## Configuration
  RabbitMQ__Host: rabbitmq
  RabbitMQ__VirtualHost: /
  RabbitMQ__Port: "5672"

  ## Exchanges
  RabbitMQ__Exchanges__User: USER.EXCHANGE
  RabbitMQ__Exchanges__Traffic: TRAFFIC.EXCHANGE
  RabbitMQ__Exchanges__Log: LOG.EXCHANGE

  ## Queues
  RabbitMQ__Queues__User__NotificationRequests: requests-2-notification.queue
  RabbitMQ__Queues__Traffic__Analytics: analytics-2-notification.queue

  ## Routing Keys
  ### Consume
  RabbitMQ__RoutingKeys__Traffic__Analytics: traffic.analytics.#
  ### Publish
  RabbitMQ__RoutingKeys__User__Notifications: user.notification.request
  RabbitMQ__RoutingKeys__Log__User: log.{layer}.{service}.{type}