apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traffic-light-db-pvc
  namespace: uniwa-stls
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard
