apiVersion: v1
kind: ConfigMap
metadata:
  name: traffic-analytics-config
  namespace: uniwa-stls
data:
  # ASP.NET Core
  ASPNETCORE_ENVIRONMENT: Development
  ASPNETCORE_URLS: http://+:8080
  SERVICE_LAYER: Traffic 
  SERVICE_LEVEL: Cloud
  SERVICE_NAME: Traffic Analytics 

  # CORS
  Cors__AllowedOrigins: http://localhost:5173,https://uniwa-stls.local
  Cors__AllowedMethods: GET,POST,PUT,PATCH,DELETE,OPTIONS
  Cors__AllowedHeaders: Content-Type,Authorization

  # JWT
  Jwt__Issuer: http://uniwa-stls-backend:8080
  Jwt__Audience: http://uniwa-stls-backend:8080

  # Databases
  ## DetectionDB
  Mongo__Database: DetectionDB
  Mongo__Collections__VehicleCount: vehicle_count
  Mongo__Collections__PedestrianCount: pedestrian_count
  Mongo__Collections__CyclistCount: cyclist_count
  Mongo__Collections__EmergencyVehicleDetections: emergency_vehicle_detections
  Mongo__Collections__PublicTransportDetections: public_transport_detections
  Mongo__Collections__IncidentDetections: incident_detections

  ## TrafficAnalyticsDB (PostgreSQL)

  # Message Broker
  ## Configuration
  RabbitMQ__Host: rabbitmq-svc
  RabbitMQ__VirtualHost: /
  RabbitMQ__Port: "5672"

  ## Exchanges
  RabbitMQ__Exchanges__Sensor: SENSOR.EXCHANGE
  RabbitMQ__Exchanges__Traffic: TRAFFIC.EXCHANGE
  RabbitMQ__Exchanges__Log: LOG.EXCHANGE

  ## Queues
  RabbitMQ__Queues__Sensor__SensorCount: sensor-2-analytics.queue
  RabbitMQ__Queues__Sensor__DetectionEvents: detection-2-analytics.queue

  ## Routing Keys
  ### Consume
  RabbitMQ__RoutingKeys__Sensor__SensorCount: sensor.count.#
  RabbitMQ__RoutingKeys__Sensor__DetectionEvents: sensor.detection.#
  ### Publish
  RabbitMQ__RoutingKeys__Traffic__Analytics: traffic.analytics.{intersection}.{metric}
  RabbitMQ__RoutingKeys__Log__TrafficAnalytics: log.{layer}.{service}.{type}