apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: traffic-analytics-db-state
  namespace: uniwa-stls
spec:
  serviceName: traffic-analytics-db
  replicas: 1
  selector:
    matchLabels:
      app: traffic-analytics-db
  template:
    metadata:
      labels:
        app: traffic-analytics-db
    spec:
      containers:
        - name: traffic-analytics-db-container
          image: ath21/stls-databases:traffic-analytics-postgres
          ports:
            - containerPort: 5432
              name: postgres
          envFrom:
            - secretRef:
                name: traffic-analytics-db-secret
          volumeMounts:
            - name: traffic-analytics-db-data
              mountPath: /var/lib/postgresql/data
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            exec:
              command:
                - "pg_isready"
                - "-U"
                - "postgres"
                - "-d"
                - "TrafficAnalyticsDB"
            initialDelaySeconds: 15
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            exec:
              command:
                - "pg_isready"
                - "-U"
                - "postgres"
                - "-d"
                - "TrafficAnalyticsDB"
            initialDelaySeconds: 10
            periodSeconds: 10
      restartPolicy: Always
  volumeClaimTemplates:
    - metadata:
        name: traffic-analytics-db-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
        storageClassName: standard
