apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-api-depl
  namespace: uniwa-stls
  labels:
    app: log-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-api
  template:
    metadata:
      labels:
        app: log-api
    spec:
      containers:
        - name: log-api-container
          image: ath21/stls-services:log-api
          ports:
            - containerPort: 8080
          
          envFrom:
            - configMapRef:
                name: log-api-config
            - secretRef:
                name: log-api-secret
          
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
          
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
      
      restartPolicy: Always
