apiVersion: v1
kind: ConfigMap
metadata:
  name: sensor-api-config
  namespace: uniwa-stls
data:
  # ASP.NET Core
  ASPNETCORE_ENVIRONMENT: Development
  ASPNETCORE_URLS: "http://+:8080"
  SERVICE_LAYER: Sensor
  SERVICE_LEVEL: Fog
  SERVICE_NAME: Sensor

  # CORS
  Cors__AllowedOrigins: "http://localhost:5173,https://uniwa-stls.local"
  Cors__AllowedMethods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
  Cors__AllowedHeaders: "Content-Type,Authorization"

  # JWT
  Jwt__Issuer: "http://uniwa-stls-backend:8080"
  Jwt__Audience: "http://uniwa-stls-backend:8080"

  # Databases
  ## DetectionDB
  Mongo__Database: DetectionDB
  Mongo__Collections__VehicleCount: vehicle_count
  Mongo__Collections__PedestrianCount: pedestrian_count
  Mongo__Collections__CyclistCount: cyclist_count
  Mongo__Collections__EmergencyVehicleDetections: emergency_vehicle_detections
  Mongo__Collections__PublicTransportDetections: public_transport_detections
  Mongo__Collections__IncidentDetections: incident_detections

  ## DetectionCacheDB
  Redis__Host: detection-cache-db-svc
  Redis__Port: "6379"
  Redis__Password: ""
  Redis__Database: "0"
  Redis__Sensor__KeyPrefix__VehicleCount: "sensor:{intersection}.vehicle_count"
  Redis__Sensor__KeyPrefix__PedestrianCount: "sensor:{intersection}.pedestrian_count"
  Redis__Sensor__KeyPrefix__CyclistCount: "sensor:{intersection}.cyclist_count"
  Redis__Detection__KeyPrefix__EmergencyDetections: "detection:{intersection}.emergency_vehicle_detected"
  Redis__Detection__KeyPrefix__PublicTransportDetections: "detection:{intersection}.public_transport_detected"
  Redis__Detection__KeyPrefix__IncidentDetections: "detection:{intersection}.incident_detected"

  # Message Broker
  ## Configuration
  RabbitMQ__Host: rabbitmq-svc
  RabbitMQ__VirtualHost: "/"
  RabbitMQ__Port: "5672"

  ## Exchanges
  RabbitMQ__Exchanges__Sensor: SENSOR.EXCHANGE
  RabbitMQ__Exchanges__Log: LOG.EXCHANGE

  ## Routing Keys
  ### Publish
  RabbitMQ__RoutingKeys__Sensor__SensorCount: "sensor.count.{intersection}.{count}"
  RabbitMQ__RoutingKeys__Log__Sensor: "log.{layer}.{service}.{type}"
